* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.HomePage {
    display: flex;
    flex-direction: column;
    height: 92%;
}

.welcomeMessageContainer {
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    align-items: center;
    padding: 10px;
}

.taglineContainer {
    font-size: 3.5vh;
    text-align: center;
    /*background-color: orange;*/
}

.descriptionContainer {
    font-size: 1vh;
    text-align: center;
    /*background-color: orange;*/
}



.mySwiper {
    background-color: blue;
    /*margin-left: 50px;*/
    width: 50%;
    height: 30%;
    padding: 10px;
}

.swiper-slide {
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, red 10%, black 50%, white 100%);
    height: 70%;
}















.T20LeaguePage {
    background-color: whitesmoke;
    height: 92%;
}

.element::-webkit-scrollbar {
    display: none;
}

.homeWelcomeMessage {
    display: flex;
    height: 100%;
    font-size: 10vh;
    color: white;
    font-family: "Reem Kufi Fun", sans-serif;
    justify-content: center;
    align-items: center;
}

.WTC {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 92%;
}

.matchArea {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
}



.controlBarHeader {
    display: flex;
    height: 8%;
}

.controlBarLogoContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 15%;
}

.controlBarLogoContainer img {
    margin-left: 10px;
    width: 90%;
    height: 80%;
    object-fit: contain;
}

.controlBarFilterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.teamFilterBar, .stadiumFilterBar {
    padding: 5px;
    font-family: "Reem Kufi Fun", sans-serif;
    text-transform: uppercase;
    font-size: 1.5vh;
    width: 50%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.controlBarMatchCountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-family: "Reem Kufi Fun", sans-serif;
    text-transform: uppercase;
    color: white;
}

.controlBarButtonContainer {
    width: 25%;
    display: flex;
    justify-content: center;
}

.controlBarButtonContainer button {
    flex: 1;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1vw;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 15px;
}

.controlBarButtonContainer button {
    background-color: transparent;
    color: white;
}

.controlBarButtonContainer button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.matchCardContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    background-color: whitesmoke;
    gap: 20px;
    padding: 10px;
    overflow: scroll;
}

.tableContainer {
    height: 100%;
    width: 45%;
    background-color: whitesmoke;
    padding: 10px;
    overflow: auto;
}

.WTCTable, .T20Table {
    background-color: white;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgrey;
    overflow: hidden;
}

.tableWrapper {
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: 100%;
}

.WTCTable thead, .T20Table thead {
    font-family: "Reem Kufi Fun", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.75vh;
}

.T20Table thead {
    white-space: nowrap;
}

.WTCTable thead {
    background-color: black;
    white-space: nowrap;
}

.WTCTable thead th, .T20Table thead th {
    padding: 10px;
}

.WTCTable thead th:nth-child(3), .T20Table thead th:nth-child(3) {
    text-align: left;
}

.WTCTable tbody td:nth-child(3), .T20Table tbody td:nth-child(3) {
    font-family: "Reem Kufi Fun", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    white-space: nowrap;
}

.WTCTable tbody td:nth-child(1), .T20Table tbody td:nth-child(1) {
    font-family: "Reem Kufi Fun", sans-serif;
    font-size: 20px;
    color: black;
}

.WTCTable tbody td:nth-child(10), .T20Table tbody td:nth-child(9) {
    font-weight: bolder;
}

.WTCTable tbody td:nth-child(10) {
    padding-right: 20px;
    padding-left: 20px;
}

.WTCTable tbody tr:hover, .T20Table tbody tr:hover {
    background-color: RGB(228, 228, 228);
}

.WTCTable tbody tr:nth-child(1),
.WTCTable tbody tr:nth-child(2),
.T20Table tbody tr:nth-child(1),
.T20Table tbody tr:nth-child(2),
.T20Table tbody tr:nth-child(3),
.T20Table tbody tr:nth-child(4) {
    background-color: whitesmoke;
}

.WTCTable tbody tr:nth-child(1):hover,
.WTCTable tbody tr:nth-child(2):hover,
.T20Table tbody tr:nth-child(1):hover,
.T20Table tbody tr:nth-child(2):hover,
.T20Table tbody tr:nth-child(3):hover,
.T20Table tbody tr:nth-child(4):hover {
    background-color: white;
}

.WTCTable tbody td:nth-child(3) img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0.75px solid #dadada;
}

.T20Table tbody td:nth-child(3) img {
    margin-left: 10px;
}

.T20Table tbody img, .WTCTable tbody img {
    width: 50px;
    margin-right: 10px;
}

.T20Table tbody tr td:last-child img,
.WTCTable tbody tr td:last-child img {
    margin-right: 0;
}

.WTCTable tbody, .T20Table tbody {
    font-family: "Nunito Sans", sans-serif;
}

.WTCTable td, .T20Table td {
    text-align: center;
    border-bottom: 0.5px solid lightgray;
}

.T20Table tbody tr:nth-of-type(4) {
    border: 1px solid black;
}


.diffArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    padding: 10px;
}

.teamNameInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.matchCardBody {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: 1px solid #cec7c7;
    overflow: hidden;
    display: flex;
    width: auto;
}

.body {
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
}

.mainBody {
    display: flex;
    flex-direction: row;
    height: 135px;
}

.T20Table td:nth-child(8),
.T20Table td:nth-child(8),
.T20Table td:nth-child(9),
.T20Table td:nth-child(9) {
    padding-left: 20px;
    padding-right: 20px;
}

.lastFive {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.lastFiveImage {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.infoBody {
    border-top: 1px solid whitesmoke;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 0.9vw;
}


.matchInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}


.awayDed, .homeDed {
    padding: 2px;
    display: flex;
    height: 90%;
}

.homeDed input, .awayDed input {
    font-family: "Nunito Sans", sans-serif;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    text-align: center;
    color: black;
    font-weight: bold;
}

.homeDed input:focus, .awayDed input:focus {
    outline: 1px solid gray;
}

.homeDed input::placeholder {
    color: lightgrey;
}

.awayDed input::placeholder {
    color: lightgrey;
}

.homeTeam, .awayTeam {
    display: flex;
    flex-direction: row;
    width: 40%;
    font-family: "Reem Kufi Fun", sans-serif;
    text-transform: uppercase;
}


.homeName, .awayName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    font-size: 2vh;
    font-weight: bolder;
}


.t20homeName {
    display: flex;
    align-items: center;
    font-size: 2vh;
    width: 20%;
    justify-content: flex-end;
}

.t20AwayName {
    display: flex;
    align-items: center;
    font-size: 2vh;
    width: 20%;
    justify-content: flex-start;
}


.homeScore, .awayScore {
    font-family: "Reem Kufi Fun", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vh;
    align-items: flex-end;
    width: 40%;
}

.awayScore {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.homeScore {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.homeOvers, .homeRunsWickets {
    display: flex;
    justify-content: flex-end;
}

.awayOvers, .awayRunsWickets {
    display: flex;
    justify-content: flex-start;
}

.awayRunsWickets, .homeRunsWickets {
    align-items: center;
    font-family: "Reem Kufi Fun", sans-serif;
    border-radius: 5px;
    text-align: left;
    height: 20%;
    margin-bottom: 5px;
}

.runsInput {
    font-family: "Reem Kufi Fun", sans-serif;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    background: transparent;
    width: 35%;
    height: 100%;
    font-size: 2.5vh;
    text-align: center;
}

.wicketInput {
    font-family: "Reem Kufi Fun", sans-serif;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    background: transparent;
    font-size: 2.5vh;
    width: 20%;
    height: 100%;
    margin-left: 2px;
    text-align: center;
}

.oversInput {
    border: 0.5px solid lightgrey;
    font-size: 1.75vh;
    border-radius: 5px;
    background: transparent;
    font-family: "Reem Kufi Fun", sans-serif;
    text-align: center;
    width: 90%
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.homeName {
    justify-content: flex-end;
}

.awayName {
    justify-content: flex-start;
}

.homeFlag, .awayFlag, .homeLogo, .awayLogo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.homeLogo, .awayLogo {
    width: 36%;
}


.homeFlag img, .awayFlag img {
    background-color: white;
    box-sizing: content-box;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    width: 100%;
}

.homeLogo img, .awayLogo img {
    box-sizing: content-box;
    border: 1px solid transparent;
    width: 100%;
}

.neutral {
    display: flex;
    flex-direction: column;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    width: 20%;
}

.date {
    width: 100%;
    height: 30%;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
}

.vs {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: bold;
}


.time {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75vw;
}



.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: whitesmoke;
    position: relative;
}

.appModeArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*background-color: blue;*/
    height: 100%;
    padding: 10px;
    gap: 10px;
}

.appModeArea a {
    display: flex;
    align-items: center;
    color: black;
    /*background-color: red;*/
    font-family: "Reem Kufi Fun", sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 1.75vh;
}

.appModeArea a:hover {
    color: grey;
}

.logoArea {
    padding: 10px;
    /*background-color: gold;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.logoArea a {
    /*background-color: paleturquoise;*/
    font-size: 3vw;
    color: black;
    font-family: "Reem Kufi Fun", sans-serif;
    text-decoration: none;
}


.leagueLandingPage {
    background-color: red;
    display: flex;
    height: 92%;
    flex-direction: column;
}